For Loop

In [ ]:
numbers = (1,2,3,4,5)
for number in numbers:
    print (number)

In [ ]:
#To print the Index numbers
numbers = (1, 2, 3, 4, 5)
for index, number in enumerate(numbers):
    print(index)

In [10]:
for number in range(10):
    print(number)
else:
    print('the loop stops at', number)

0
1
2
3
4
5
6
7
8
9
the loop stops at 9

In [ ]:
"Duck" Typing

"If it looks like a duck, swims like a duck, and quacks like a duck, it probably is a duck."

Factorial Using For Loop

In [44]:
for i in range(0,10):
    result = 1
    for j in range(2,i+1):
        result = result*j
    print(result)

Factorial using While Loop

In [63]:
i = 1

while True:
    result = 1
    for j in range(2,i+1):
        result = result*j
    print(result)
    i = i+1
    if result > 2000000000:
        break

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800

In [82]:
for i in range(1,101):
    if i%3==0:
        print(i,"fizz")
    if i%5 == 0:
        print(i,"buzz")
    if (i%3==0) and (i%5==0):
        print(i,"fizzbuzz")
    if (i%3!=0) and (i%5!=0):
        print(i)

1
2
3 fizz
4
5 buzz
6 fizz
7
8
9 fizz
10 buzz
11
12 fizz
13
14
15 fizz
15 buzz
15 fizzbuzz
16
17
18 fizz
19
20 buzz
21 fizz
22
23
24 fizz
25 buzz
26
27 fizz
28
29
30 fizz
30 buzz
30 fizzbuzz
31
32
33 fizz
34
35 buzz
36 fizz
37
38
39 fizz
40 buzz
41
42 fizz
43
44
45 fizz
45 buzz
45 fizzbuzz
46
47
48 fizz
49
50 buzz
51 fizz
52
53
54 fizz
55 buzz
56
57 fizz
58
59
60 fizz
60 buzz
60 fizzbuzz
61
62
63 fizz
64
65 buzz
66 fizz
67
68
69 fizz
70 buzz
71
72 fizz
73
74
75 fizz
75 buzz
75 fizzbuzz
76
77
78 fizz
79
80 buzz
81 fizz
82
83
84 fizz
85 buzz
86
87 fizz
88
89
90 fizz
90 buzz
90 fizzbuzz
91
92
93 fizz
94
95 buzz
96 fizz
97
98
99 fizz
100 buzz

In [2]:
name = 'jordan'
lastName = 'belfort'

fullName = name + ' ' + lastName
print(fullName)

jordan belfort

In [5]:
fullName = f'{name} {lastName}'
print(fullName)

jordan belfort

In [6]:
name = "virat"
lname = "kohli"
' '.join([name, lname])

'virat kohli'

In [8]:
len(fullName)

14

In [10]:
neg = 'don\'t'
neg

"don't"

In [12]:
language = 'python'
formatedString = 'I am %s %s. I am learning %s.'%(name,lname,language)
print(formatedString)

I am virat kohli. I am learning python.

In [28]:
formatedString = 'I am %r %r. I am learning %r.'%(name, lname,language)
print(formatedString)

I am 'virat' 'kohli'. I am learning 'python'.

In [29]:

formatedString = 'I am {} {}. I am learning {}.'.format(name, lname,language)
print(formatedString)

I am virat kohli. I am learning python.

In [30]:

formatedString = 'I am {0:} {1:}. I am learning {2:}.'.format(name, lname,language)
print(formatedString)

I am virat kohli. I am learning python.

In [19]:
for c in formatedString:
    print(c,end = '-')

I- -a-m- -p-y-t-h-o-n- -v-i-r-a-t-.- -I- -a-m- -l-e-a-r-n-i-n-g- -k-o-h-l-i-.-

In [20]:
language = 'python'
a,b,c,d,e,f = language

print(a,b,c,d,e,f)

p y t h o n

In [24]:

language[2:4]

'th'

In [26]:
language[::-1]

'nohtyp'

In [27]:
formatedString[3:12:2]

'mpto '

In [32]:
sentence = 'neeraj wins silver medals'
sentence.capitalize()

'Neeraj wins silver medals'

In [33]:

sentence.count('e')

4

In [34]:
sentence.endswith('medals')

True

In [37]:

sentence = 'neeraj\twins\tsilver\tmedal'
sentence.expandtabs(1)

'neeraj wins silver medal'

In [38]:
sentence = 'neeraj wins silver medal'
sentence.find('e')

1

In [39]:
sentence.rfind('z')

-1

In [40]:
sentence.index('silver')

12

In [41]:
sentence.rindex('silver')

12

In [42]:
sentence = 'neeraj wins silver medal'
sentence1 = 'neeraj wins silver medal in 2024'
sentence2 = 'neerajwinssilvermedalin2024'
sentence3 = 'neerajwinssilvermedal'

In [44]:
print(sentence.isalnum())
print(sentence1.isalnum())
print(sentence2.isalnum())
print(sentence3.isalnum())

False
False
True
True

In [45]:
print(sentence.isalpha())
print(sentence1.isalpha())
print(sentence2.isalpha())
print(sentence3.isalpha())

False
False
False
True

In [46]:
sentence1.split()

['neeraj', 'wins', 'silver', 'medal', 'in', '2024']

In [47]:
''.join(sentence1.split())

'neerajwinssilvermedalin2024'

In [50]:
language, type(language)

('python', str)

In [51]:
language.split(), type(language.split())

(['python'], list)

In [54]:
num = '123'
print(num, ":", num.isdecimal())

123 : True

In [55]:
num = '12.3'
print(num, ":", num.isdecimal())

12.3 : False

In [56]:
num.split('.')

['12', '3']

In [58]:
num = '\u00B2'
print(num, ":", num.isdigit())

² : True

In [61]:
num = '10\u00BD'
print(num, ":", num.isnumeric())

10½ : True

In [62]:
sent = 'variable'
sent.isidentifier()

True

In [67]:
name.islower()

True

In [68]:
name.lower()

'virat'

In [69]:
name.isupper()

False

In [70]:
name.upper()

'VIRAT'

In [71]:

word = ' almands '
word.strip()

'almands'

In [72]:

word1 = 'alola'
word1.strip('a')

'lol'

In [73]:
sentence4 = 'NeerajWinsSilverMedal'
sentence4.istitle()

False

In [74]:
sentence4.title()

'Neerajwinssilvermedal'

In [75]:
sentence4.swapcase()

'nEERAJwINSsILVERmEDAL'

In [76]:

str = 'abbcbba'
empty = ''
for i in range(len(str),0):
    empty = empty + str
print(empty)

In [98]:

str = 'abbcbba'

In [99]:
if str[::-1] == str[0:]:
    print("palindrome")
else:
    print("not a palindrome")

palindrome