In [153]:
days_in_month = 30
start_day = 6
if days_in_month not in [28,29,30,31]:
    print("Invalid days in month entered")
if start_day < 0 or start_day > 6:
    print("Invalid start day entered")

#print the header for the calender
print("mon tue wed thu fri sat sun")

#print spaces for the first week
for _ in range(start_day):
    print("    ",end="")

current_day=0

#print the days of the month
for day in range(1,days_in_month+1):
    print(f"{day:2}  ",end="")
    current_day +=1
    
    position_count = current_day + start_day
    #move to the next line after sunday
    if position_count % 7 == 0:
        print()

print()

mon tue wed thu fri sat sun
                         1
 2   3   4   5   6   7   8
 9  10  11  12  13  14  15
16  17  18  19  20  21  22
23  24  25  26  27  28  29
30

In [154]:
"""Prints histogram based on the list of intergers provided.

parameters:
values

"""

data = [3,5,1,8,12,100]

count =0

for number in data:
    print(f"{count}: ", end="")
    
    #for _ in range(number):
        #print("*", end="")
    print("#"*number)
    count +=1

    #print()

0: ###
1: #####
2: #
3: ########
4: ############
5: ####################################################################################################

3) A pangram is a sentence that contains all the letter of the English alphabet at least once, for example: the quick brown fox jumps over the lazy dog. Your task here is to write a function to check a sentence to see if it is a pangram or not

In [155]:
import string

def ispangram(sentence):
    
    """
    Parameters:
    sentence (str): the sentence to check.

    Returns:    bool:true if the sentence is a pangram, False otherwise.   
    """
    
    normalized_sentence = sentence.lower()
    
    alphabet_set = set(string.ascii_lowercase)
    
    sentence_set = set(string.ascii_lowercase)
    
    return alphabet_set.issubset(sentence_set)

test_sentences = [
    "The quick brown fox jumps over the lazy dog.",
    "Hello World!",
    "pack my box with five dozen liquor jugs",
    "this sentence is not a pangram"
]

for sentence in test_sentences:
    result = ispangram(sentence)
    print(f'"{sentence}" -> Pangram: {result}')

"The quick brown fox jumps over the lazy dog." -> Pangram: True
"Hello World!" -> Pangram: True
"pack my box with five dozen liquor jugs" -> Pangram: True
"this sentence is not a pangram" -> Pangram: True

##Returns the sum of all the even numbers in the list

In [156]:
numbers = [10, 11, 12, 13 , 15, 2]

even_sum=0
for num in numbers:
    if num % 2 == 0:
        even_sum += num
        
print('Sum of even numbers: ', even_sum)

Sum of even numbers:  24

In [157]:
numbers = [1,2,3,4,5]
search_val = 3
if search_val in numbers:
    result = f"{search_val} found at position {numbers.index(search_val)}"
else:
    res = f"{search_val} not found"
    
print(result)

3 found at position 2

In [158]:
numbers = [1,2,3,4,3,5,6,2]
remove_val = 2

new_list = [num for num in numbers if num != remove_val]
#for num in numbers:
 #   if num != remove_val:

print("List after removing occurrences of ", remove_val, ":", new_list)

List after removing occurrences of  2 : [1, 3, 4, 3, 5, 6]

In [159]:
number = [1,2,2,2,4,6,3,3,4]

unique_num = list(set(numbers))

print("unique numbers: ", unique_num)

unique numbers:  [1, 2, 3, 4, 5, 6]

In [160]:
lst = [1,2,3,1,4,5,6,4,7]

longest_sublist = []
current_sublist = []

for num in lst:
    if num in current_sublist:
        if len(current_sublist) > len(longest_sublist):
            longest_sublist = current_sublist
            
        current_sublist = current_sublist[current_sublist.index(num) + 1:]
        
    current_sublist.append(num)
print(max(longest_sublist,current_sublist,key=len))

[2, 3, 1, 4, 5, 6]

In [161]:
a = (1,)
type(a)

tuple

In [162]:

person = {'first_name': 'John',
          'last_name': 'Wick',
          'age': 25,
          'city':'Pune',
          'isStudent':False,
          'skills': ['C','C++','python','Java'],
          'Address':{'street': 'ABC Street','pincode':411014}
          }
person['job title'] = 'Student'
person

person1 = person.copy()
person1

{'first_name': 'John',
 'last_name': 'Wick',
 'age': 25,
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [163]:
import copy

person2 = copy.deepcopy(person)

person2['first_name'] = 'Peter'

person2

{'first_name': 'Peter',
 'last_name': 'Wick',
 'age': 25,
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [164]:
person

{'first_name': 'John',
 'last_name': 'Wick',
 'age': 25,
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [165]:
{}.fromkeys(['name','age'])

{'name': None, 'age': None}

In [166]:
'age' in person

True

In [167]:
if 'age' in person:
    print(person['age'])

25

In [168]:
person.pop('last_name')
display(person)

{'first_name': 'John',
 'age': 25,
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [169]:
del person['age']
person

{'first_name': 'John',
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [170]:
person.items()

dict_items([('first_name', 'John'), ('city', 'Pune'), ('isStudent', False), ('skills', ['C', 'C++', 'python', 'Java']), ('Address', {'street': 'ABC Street', 'pincode': 411014}), ('job title', 'Student')])

In [171]:
person.values()

dict_values(['John', 'Pune', False, ['C', 'C++', 'python', 'Java'], {'street': 'ABC Street', 'pincode': 411014}, 'Student'])

In [172]:
person2.clear()
person2

{}

In [173]:
squares = {x: x**2 for x in range(5)}
display(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [178]:
p1={'a': 1, 'b': 2}
p2={'b': 3, 'd': 4}

p1_2=p1 | p2
display(p1_2)

p2_1=p2 | p2
display(p2_1)

{'a': 1, 'b': 3, 'd': 4}

{'b': 3, 'd': 4}

In [179]:
pk = person.keys()
pk

dict_keys(['first_name', 'city', 'isStudent', 'skills', 'Address', 'job title'])

In [183]:
pk=p1.keys()
display(pk)
p1['c']=3
display(pk)

dict_keys(['a', 'b'])

dict_keys(['a', 'b', 'c'])

In [184]:
person

{'first_name': 'John',
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

In [196]:
person.setdefault('city', 'NewZealand')
display(person)

{'first_name': 'John',
 'city': 'Pune',
 'isStudent': False,
 'skills': ['C', 'C++', 'python', 'Java'],
 'Address': {'street': 'ABC Street', 'pincode': 411014},
 'job title': 'Student'}

Default Dict From Collection

In [197]:
from collections import defaultdict

dd = defaultdict(list)

display(dd)

defaultdict(list, {})

In [208]:
dd['fruits'] = 'apple'
dd['fruits'] = 'banana'
display(dd)

defaultdict(list, {'fruits': 'banana'})

In [209]:
from collections import Counter

num = [1,2,3,1,2,4,1,2,5]

Counter(num)

Counter({1: 3, 2: 3, 3: 1, 4: 1, 5: 1})

Ordered Dictionaries

In [213]:
from collections import OrderedDict

od = OrderedDict()
od['z'] = 1
od['a'] = 2
od['b'] = 3
print(od)

OrderedDict([('z', 1), ('a', 2), ('b', 3)])

In [222]:
fs = frozenset(['a','b'])
my_dict = {fs:'Value'}
my_dict['a'] = 1
my_dict['b'] = 2
display(my_dict)

{frozenset({'a', 'b'}): 'Value', 'a': 1, 'b': 2}

In [223]:
my_dict['c'] = 3
display(my_dict)

{frozenset({'a', 'b'}): 'Value', 'a': 1, 'b': 2, 'c': 3}