Problem 1
Given a dictionary of students and their favourite
colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Pu
rple','Jenny':'Pin'}
1. Find out how many students are in the list.
2. Change Lisa’s Favorite colour.
3. Remove ‘Jenny’and her favorite colour
4. Sort and print students and their favorite
colours in alphabetically by name.

In [18]:
people = {'Arham':'Blue', 'Lisa':'Yellow', 'Vinod':'Purple', 'Jenny': 'Pink'}

#for n in len(people):
print(len(n))
    
people['Lisa']='Red'
display(people)

del people['Jenny']
print(people)

dict(sorted(people.items()))
people

5

{'Arham': 'Blue', 'Lisa': 'Red', 'Vinod': 'Purple', 'Jenny': 'Pink'}

{'Arham': 'Blue', 'Lisa': 'Red', 'Vinod': 'Purple'}

{'Arham': 'Blue', 'Lisa': 'Red', 'Vinod': 'Purple'}

In [19]:
people['Bhavik']='Pink'
people

{'Arham': 'Blue', 'Lisa': 'Red', 'Vinod': 'Purple', 'Bhavik': 'Pink'}

Problem 2
Write a function translate() that will translate a text into "rövarspråket" (Swedish
for "robber's language"). That is, double every consonant and place an
occurrence of "o" in between. For example, translate("this is fun") should return
the string "tothohisos isos fofunon".

In [24]:
def translate(text):
    vowels = "aeiouAEIOU"
    result = []
     
    for char in text:
        if char.isalpha() and char not in vowels: 
            result.append(char + 'o' + char) 
        else:
            result.append(char) 

    return ''.join(result)

print(translate("this is fun"))

tothohisos isos fofunon

Problem 3
Define a function overlapping () that takes two lists and returns True if they have at
least one member in common, False otherwise.

In [41]:
def overlapping(list1, list2):
    res = False
    for n in list1:
        #print(n)
        for m in list2:
            if n == m:
                res = True    
            #else:
             #   return False
    return res
        
ls1= [1,2,3]
ls2= [6,5,7]           
overlapping(ls1, ls2)

False

In [46]:
import re
def re(text):
    
    corr_text = re.sub(r'\s{2,}', ' ',text)

datetime Library

In [48]:
import datetime
from datetime import datetime, date, time, timedelta

In [49]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [50]:
now = datetime.now()
now

datetime.datetime(2024, 9, 30, 17, 2, 16, 381288)

In [51]:
day = now.day
month = now.month
year = now.year

f'{year}-{month}-{day}'

'2024-9-30'

In [53]:
timestamp = now.timestamp()
timestamp

1727695936.381288

In [64]:
now.strftime('%d/%m/%y %H-%m-%S')

'30/09/24 17-09-16'

In [62]:
now.strftime?

Docstring: format -> strftime() style string.
Type:      builtin_function_or_method

In [63]:
now.strftime('%A, %d/%m/%y %H-%m-%S')

'Monday, 30/09/24 17-09-16'

In [65]:
now.strftime('%a, %d/%m/%y %H-%m-%S')

'Mon, 30/09/24 17-09-16'

In [71]:
date_string = '01 Jan 1990'
date_object = datetime.strptime(date_string, '%d %b %Y')
date_object

datetime.datetime(1990, 1, 1, 0, 0)

In [72]:
d = date(1990,1,1)
d

datetime.date(1990, 1, 1)

In [73]:
today = date.today()
today

datetime.date(2024, 9, 30)

In [77]:
today.month

9

In [80]:
print(time(hour=10, minute=30, second=20, microsecond=566665))

10:30:20.566665

In [84]:
new_year=date(2025,1,1)
new_year-today

datetime.timedelta(days=93)

In [89]:
#new_year_time = datetime()

In [93]:
timedelta(weeks=4)

datetime.timedelta(days=28)

In [92]:
now + timedelta(weeks=4)

datetime.datetime(2024, 10, 28, 17, 2, 16, 381288)

In [95]:
print(now + timedelta(weeks = 5,
                      days = 10,
                      hours=5
                      ))

2024-11-14 22:02:16.381288